<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=10">
    <title>Ресторан</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="wrapper">
    <header>
        <div class="container">
            <strong class="logo">Кафе - Бар <br> <ls>Лесная Сказка</ls> </strong>
            <nav>
                <a class="menu" href="">МЕНЮ</a>
                <a href="">УСЛУГИ</a>
                <a href="">ИНТЕРЬЕР</a>
                <a href="">ФОТОСЕССИЯ</a>
                <a href="">КОНТАКТЫ</a>
                <a href="">О НАС</a>
            </nav>
    </header>

    <main>
        <div class="container">
            <img class="bcwelcome" src="/static/images/Welcome_Frame.jpg" alt="bcwelcome">
            <h1>Вас ждет волшебный шашлык и европейская кухня</h1>
            <button name="bronstol">БРОНИРОВАНИЕ СТОЛА</button>
            <button name="bronbanket">БРОНИРОВАНИЕ БАНКЕТА</button>
            <p>+7 (473) 261-76-00<br>Воронежская область,<br>Проспект Патриотов 52Е</p>
        </div>
    </main>

    <footer>
    </footer>
</div>
</body>

</html>

